/* style */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* header */
h1 {
    font-size: 40px;
    margin-top: 100px;
}
