/* style */
body {
    .titillium-web-extralight {
        font-family: "Titillium Web", serif;
        font-weight: 200;
        font-style: normal;
    }
      
    .titillium-web-light {
        font-family: "Titillium Web", serif;
        font-weight: 300;
        font-style: normal;
    }
      
    .titillium-web-regular {
        font-family: "Titillium Web", serif;
        font-weight: 400;
        font-style: normal;
    }
      
    .titillium-web-semibold {
        font-family: "Titillium Web", serif;
        font-weight: 600;
        font-style: normal;
    }
      
    .titillium-web-bold {
        font-family: "Titillium Web", serif;
        font-weight: 700;
        font-style: normal;
    }
      
    .titillium-web-black {
        font-family: "Titillium Web", serif;
        font-weight: 900;
        font-style: normal;
    }
      
    .titillium-web-extralight-italic {
        font-family: "Titillium Web", serif;
        font-weight: 200;
        font-style: italic;
    }
      
    .titillium-web-light-italic {
        font-family: "Titillium Web", serif;
        font-weight: 300;
        font-style: italic;
    }
      
    .titillium-web-regular-italic {
        font-family: "Titillium Web", serif;
        font-weight: 400;
        font-style: italic;
    }
      
    .titillium-web-semibold-italic {
        font-family: "Titillium Web", serif;
        font-weight: 600;
        font-style: italic;
    }
      
    .titillium-web-bold-italic {
        font-family: "Titillium Web", serif;
        font-weight: 700;
        font-style: italic;
    }
      
    background-color: #6ee5e3;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* header */
h1 {
    font-size: 24px;
    margin-top: 50px;
}
