/* style */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #6ee5e3;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* header */
h1 {
    font-size: 40px;
    margin-top: 100px;
}
